/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+csharp */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--v-CodeBlockColor-base);
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;	
	background: var(--v-CodeBlockColorSelection-base);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: var(--v-CodeBlockColorSelection-base);
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	//background: #2d2d2d;
	background: var(--v-BackgroundContentColor-darken1);
	code {
		background-color: rgba(0,0,0,0)!important;
		padding: 0;
	}
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment {
	color: var(--v-CodeBlockColorComment-base);
}

.token.block-comment {
	color: var(--v-CodeBlockColorComment-base);
}

.token.prolog {
	color: var(--v-CodeBlockColorComment-base);
}

.token.doctype {
	color: var(--v-CodeBlockColorComment-base);
}

.token.cdata {
	color: var(--v-CodeBlockColorComment-base); 
}

.token.punctuation {
	color: var(--v-CodeBlockColorPunctuation-base); 
}

.token.tag {
	color: var(--v-CodeBlockColorTag-base); 
}

.token.attr-name {
	color: var(--v-CodeBlockColorAttribute-base); 
}

.token.namespace {
	color: var(--v-CodeBlockColorNamespace-base); 
}

.token.deleted {
	color: var(--v-CodeBlockColorTag-base);
}

.token.function-name {
	color: var(--v-CodeBlockColorFunktionName-base);
}

.token.boolean {
	color: var(--v-CodeBlockColorBool-base);
}

.token.number {
	color: var(--v-CodeBlockColorBool-base);
}

.token.function {
	color: var(--v-CodeBlockColorFunktion-base);
}

.token.property {
	color: var(--v-CodeBlockColorProperty-base); 
}

.token.class-name {
	color: var(--v-CodeBlockColorClassName-base);
}

.token.constant {
	color: var(--v-CodeBlockColorProperty-base); 
}

.token.symbol {
	color: var(--v-CodeBlockColorProperty-base); 
}

.token.selector {
	color: var(--v-CodeBlockColorSelector-base);
}

.token.important {
	color: var(--v-CodeBlockColorImportant-base);
}

.token.atrule {
	color: var(--v-CodeBlockColorAtRule-base); 
}

.token.keyword {
	color: var(--v-CodeBlockColorAtRule-base); 
}

.token.builtin {
	color: var(--v-CodeBlockColorSelector-base);  
}

.token.string {
	color: var(--v-CodeBlockColorString-base); 
}

.token.char {
	color: var(--v-CodeBlockColorString-base);  
}

.token.attr-value {
	color: var(--v-CodeBlockColorAtrributeValue-base);  
}

.token.regex {
	color: var(--v-CodeBlockColorRegex-base);  
}

.token.variable {
	color: var(--v-CodeBlockColorRegex-base);  
}

.token.operator {
	color: var(--v-CodeBlockColorOperator-base); 
}

.token.entity {
	color: var(--v-CodeBlockColorOperator-base); 
}

.token.url {
	color: var(--v-CodeBlockColorOperator-base); 
}

.token.inserted {
	color: var(--v-CodeBlockColorInserted-base); 
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}